* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}
h5 {
    text-transform: capitalize;
    color: #6bc785;
}
h1 {
    font-weight: bold;
    font-size: 70px;
    font-family: "Source Sans Pro";
}
.btn1 {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6bc785;
    border-radius: 15px;
    border: none;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.btn1 i {
    color: white;
}

.background h2 {
    text-align: center;
    color: black;
    text-transform: capitalize;
    font-size: 50px;
    padding: 30px;
    font-family: "Source Sans Pro";
}
.background .card {
    border-radius: 20px;
    border: none;
}
.background i {
    color: yellow;
}
.background h5 {
    color: gray;
    text-transform: lowercase;
}
.background .p {
    text-decoration: line-through;
    color: grey;
}
.background img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.background1 {
    background-color: #EEF2FD;
    height: max-content;
}
.background1 .content {
    margin-top:15%;
    padding-left: 30px;
}
.background1 .content p {
    color: gray;
    font-weight: 400;
    font-size: 20px;

}
.background1 .content h5 {
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.background2 {
    background-color: #EEF2FD;
    height: max-content;
    margin-left: 7%;
}
.background2 .content {
    margin-top:25%;
    padding-left: 30px;
}
.background2 .content p {
    color: gray;
    font-weight: 400;
    font-size: 20px;

}
.background2 .content h5 {
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    /* box-shadow: 1px 1px 10px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); */
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
.background3 h2 {
    font-family: "Source Sans Pro";
    text-align: center;
    font-size: 50px;
}
.background3 .btn {
    text-align: center;
}
.background5 {
    background-image: url('https://img.freepik.com/free-photo/image-korean-female-entrepreneur-suit-standing-near-info-wall-advertisement-board-holding-smartphone-smiling-posing-pink-background_1258-97415.jpg?t=st=1709888742~exp=1709892342~hmac=702b63442b92aaf14a1da901a5168308cd9bb18d7944464d60d699d07213890e&w=1380');
    background-repeat: no-repeat;
    background-size: cover;
}
.background5 h2 {
    font-family: "Source Sans Pro";
    margin-top: 3%;
    margin-left: 50px;
}
.backgroundcontent {
    background-color: white;
    margin-top: 10%;
    margin-bottom:8%;  
}
.img {
    width: 100px;
    height: 100px;
    animation: scroll 60s linear infinite;
  }
  
  .slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
  }
  
  .slider {
 
    padding: 8em 2em;
  }
  
  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }

  .clearfix:before,
  .clearfix:after {
      content: " ";
      display: table;
  }
  
  .clearfix:after {
      clear: both;
  }
  
  .card1 {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
    margin: 0 auto;
    max-width: 340px;
  }
  
  .card-media {
    width: 100%;
  }
  
  .card-details {
    padding: 5px 15px;
  }
  
  .card-head {
    font-weight: 400;
  }
  
  .card-head {
    font-size: 26px;
    margin-bottom: 15px;
  }
.background6 .h2 {
    font-family: "Source Sans Pro";
    text-align: center;
    font-size: 50px;

}
.background7 {
    background-color: #EEF2FD;

}
.background7 h2 {
   margin-top: 5%;
   margin-bottom: 10px; 
   font-family: "Source Sans Pro";
   text-align: center;
   font-size: 50px;
}
.background7 p {
    color: gray;
    text-align: center;
    font-size: 20px;
}
.search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }
  
  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
      border: 1px solid #008ABF;
      transition: 0.35s ease;
      color: #008ABF;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     }
   }
  
  .search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
  }
/* .background10 {
    background-color: #D0CFCE;
    padding-top: 20px;
} */
.nav-link {
  position: relative;
  padding-bottom: 5px;
  font-size: 20px;
  margin-left: 20px;
  color: black;
}

.nav-link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color:black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.nav-link:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.box {
  margin: 50px auto;
  width:400px;
  height:100px;
}
input[type="email"] {
  appearance: none;
  width:380px;
  height:70px;
  font-size: 20px;
  background:transparent;
  border:none;
  border-bottom:solid 4px #e6e8eb;
  text-align:center;
  transition: border-color 0.6s ease;
  font-family: "Source Sans Pro";
}

::-webkit-input-placeholder {
   color: #464c4c;
   transition: color 0.3s ease;
}

:focus::-webkit-input-placeholder {
   color: transparent;
   transition: color 0.3s ease;
}


input[type="email"]:focus {
   outline:none;
   border:none;
  border-bottom:solid 4px #00AEEF;
  transition: border-color 1s ease;
}

input[type="submit"] {
  appearance: none;
  width:380px;
  height:50px;
  font-size:1.05em;
  background:transparent;
  color: #e6e8eb;
  border:none;
  text-align:center;
  letter-spacing:0.15em;
  text-transform:uppercase;
  transition: color 0.5s ease;
  outline:none;
   border:none;
}

input[type="submit"]:hover {
  color: #464c4c;
  cursor:pointer;
  transition: color 0.5s ease;
}

/* CSS */
.button-30 {
  margin-left: 30px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono",monospace; */
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}